<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Lumin は教室内の生徒と通信するためにローカルネットワークを使用します。</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_lumin-class._tcp</string>
	</array>
	<!-- iOS 26 以降の SDK でビルドしたアプリは UIScene ライフサイクルの採用が必須。
	     tao は UIApplicationSupportsMultipleScenes が true のときだけ
	     application:configurationForConnectingSceneSession:options: を登録するため、
	     このキーが無いと起動時に UIKit が SIGTRAP で落とす。 -->
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
</dict>
</plist>
